h1 {
  font-family: 'Rock Salt', cursive, serif;
  margin-left: 5px;
  font-size: 1.5rem;
}
.hero-header {
  flex: 0 0 auto;
  background-color: #fff;
}
.hero-content {
  flex: 1 1 auto;
  position: relative;/* need this to position inner content */
  overflow-y: auto;
}

.hero.is-primary .header-item>a:not(.button)  {
  opacity: 1;
}
